[Unit]
Description=DNS4ME Custom Script (Run Once)
After=network.target

[Service]
Type=oneshot
ExecStart=/data/custom/dns4me/dns4me.sh
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target